{% extends "@include/main_painel.twig" %}

    {% block conteudo %}

        <div class="card">
            <div class="card-body">
                <h2 class="mt-2">
                    Criar Instituição
                </h2>
                <hr>
    <form class="w-100" id="needs-validation" novalidate=""  action="/instituicao/salvar_instituicao"  method="POST" enctype="multipart/form-data">
                 {{ csrf_field() }}
                 	<div class="row">
                 		<div class="form-group col-md-4 ">
                            <label for="rsNome">Nome  </label>
                            <input type="text" class="form-control" placeholder="Nome Instituição"   value="" name="nome" id="rsNome">
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="rsEmail">Email  </label>
                            <input type="email" class="form-control" placeholder="Email"   value="" name="email" id="rsEmail">
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="rsTelefone">Telefone  </label>
                            <input type="tel" class="form-control" placeholder="Telefone"   value="" name="telefone" id="rsTelefone">
                        </div>
                        <div class="form-group col-md-4 ">
                            <label for="rsEndereco">Localização  </label>
                            <input type="text" class="form-control" placeholder="Localização"   value="" name="localizacao" id="rsEndereco">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rsTipo">Tipo</label>
                            <select class="form-control" id="rsTipo" required="" name="tipo">
                                    <option selected value="publica">Pública</option>
                                    <option selected value="privada">Privada</option>
                            </select>
                        </div>
                         <div class="form-group col-md-4">
                            <label for="rsNivel">Nivel de Ensino</label>
                            <select class="form-control" id="rsNivel" required="" name="nivel">
                                    <option selected value="basico">Ensino de base</option>
                                    <option selected value="medio">Ensino Medio</option>
                                    <option selected value="superior">Ensino Superior</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="rsAdministrador">Administrador</label>
                            <select class="form-control" id="rsAdministrador" required="" name="id_usuario">
                                {% for instituicao in instituicoes %}
                                    <option selected value="{{instituicao.id}}">{{ instituicao.usuario }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="idescricao">Sobre a Escola</label>
                            <textarea name="sobre_escola"  class="form-control"  id="sobre_escola" placeholder="Breve descrição sobre a escola." rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="icapa">Logotipo</label>
                            <input type="file"  name="logotipo" class="form-control form-control-file p-1">
                        </div>

                 	</div>
                 	 <div class="d-flex align-items-end justify-content-end">
                        <button type="submit" class="btn btn-success" value="Salvar">Salvar</button>
                    </div>
    </form>
        </div>
    </div>


    {% endblock %}
